
body {
    background-color: #EBECF0 !important;
    font-family: 'Itim', cursive !important;
}

main {
    padding:2rem;
}


.main_section {
    background-color: white;
    padding:1rem;
}

p {
    margin:0px !important;
}


.cover_nd_propic {
    position: relative;
   
}

.cover_nd_propic > img {
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
    
}

.cover_nd_propic > img:nth-child(2) {
    position: absolute;
    width:20%;
    left:4%;
    top:50%;
    border-radius: 50%;
    border:4px solid white;
    
}


.name_nd_description {
    margin-bottom: 0px !important;
}

.projects_languages {
    margin-top: 2rem;
}

.projects_languages h4 {
    margin-top: 0px;
}




table { 
    border-collapse: collapse;
    
}

td{
   width: 100px;
   height: 10px;
   padding: 0px;
  
   
}
.color1{
  background-color: red;
  width:80px;
}
.color2{
  background-color: purple;
  width: 70px;
}
.color3{
   background-color: orange;
   width: 50px;
}


.color4{
    background-color: skyblue;
    width: 50px;
 }

.languages {
    display:flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.red_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color: red;
}

.purple_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color: purple;
}

.orange_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color: orange;
}

.blue_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color:skyblue;
}

     

.name_nd_description > a {

    font-size: 1.5rem;
    color:black;
    font-family: 'Itim', cursive !important;
}

.fa-laptop-code {
    color:#daa520;
    font-size: 2.5rem;
   
}


.right_section {
    display:none;
}

.Projects_stucture {
    font-size: 2rem;
}

.btn-default {
    background-color: #0E76A8 !important;
    color:white !important;
    margin-top: 1rem;
    
}

.submit {
    color: #0E76A8;
    font-size: 4.5rem;
   
}










@media screen and (min-width:950px) {
    .right_section {
        display:block;
    }

    .cover_nd_propic {
        margin-bottom: 4.2rem;
       
    }

    input {
        padding:2rem !important;
        font-size: 3rem !important;
    }
    
    label {
        font-size: 3rem !important;
    }
    
    .checkbox {
        margin-top: 10px !important;
    }
    
    .btn-default {
        background-color: #0E76A8 !important;
        color:white !important;
        margin-top: 1rem;
        font-size: 2rem !important;
    }

    
}


@media screen and (min-width:768px) {
  
    .cover_nd_propic {
        margin-bottom: 4rem;
       
    }

   

    
}