
body {
    
    font-family: 'Arimo', sans-serif;
    background-color: #EBECF0 !important;
}

main {
    padding:2rem;
}

html {
    overflow-x: hidden;
}

:root {
    --linkedblue: #0A66C2;
}



p {
    margin:0px !important;
}



.main_section {
    background-color: white;
    padding: 1rem !important;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
   

}

.cover_nd_propic {
    position: relative;
   
}

.cover_nd_propic > img {
    width:100%;
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
    
}

.cover_nd_propic > img:nth-child(2) {
    position: absolute;
    width:20%;
    left:4%;
    top:50%;
    border-radius: 50%;
    border:4px solid white;
    
}


.name_nd_description {
    margin-bottom: 0px !important;
    

}

.projects_languages {
    margin-top: 2rem;
}

.projects_languages h4 {
    margin-top: 0px;
}

.gitbar {
height:15vh !important;
}



.languages {
    font-weight: bold !important;
    color:#777777;
}

.languages_text {
    font-weight: bold;
    text-decoration: underline;
}

.tech_nd_frame {
    font-weight: bold;
    text-decoration: underline;
}


.repositories_text {
    color:#777777;
}



.connections, .followers  {
    font-weight: bold;
}

.linkVo_completed {
    font-weight: bold;
    font-size: 2rem;
}





/* projects */
/* projects */
/* projects */
/* projects */
/* projects */
/* projects */
/* projects */

table { 
    border-collapse: collapse;
    
    
}

td{
   width: 100px;
   height: 10px;
   padding: 0px;
  
   
}

.color1{
  background-color: orange;
  width:80px;
}
.color2{
  background-color: skyblue;
  width: 70px;
}
.color3{
   background-color: #CCC32D;
   width: 50px;
}


.color4{
    background-color: #02386E;
    width: 50px;
 }



 .color5{
    background-color: green;
    width: 50px;
 }


.html_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color: orange;;
}

.css_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color: skyblue;
}


.javascript_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color:#CCC32D;
}

.react_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color: #02386E;
}




.node_dot {
    border-radius: 50px;
    width:20px;
    height:20px;
    background-color:green;
}
     

.name_nd_description > a {

    font-size: 2rem;
    color:black;
   
}

.fa-laptop-code {
    color:#daa520;
    font-size: 2.5rem;
   
}


.tech_logo {
    width:10%;
}







/* sumbit a Project */
/* sumbit a Project */
/* sumbit a Project */
/* sumbit a Project */
.Projects_stucture {
    font-size: 2rem;
}

.btn-default {
    background-color: #0E76A8 !important;
    color:white !important;
    margin-top: 1rem;
    
}

.submit {
    color: #0E76A8;
    font-size: 4.5rem;
   
}





/* Submitted Page */
/* Submitted Page */
/* Submitted Page */
/* Submitted Page */
/* Submitted Page */
/* Submitted Page */
/* Submitted Page */

.projects_title {
    margin-top:0px;
    
}

.submitted_container {
    padding:1rem;
    margin: 0 auto;
   

}

.projects h3 {
    font-size: 4rem;
}



.html_logo {
    width:5%;

}

.css_logo {
    width:5%;
}

.boots_logo {
    width:7%;
}


.submitted_container > section{
    background-color: white;
    padding:1rem;
    font-size: 2rem;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
   
}

video  {
    max-width:100%;
}







 /* right_section */


 .right_section {
    margin-top: 1rem;
    display:block;
    background-color: white;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
   
}

.developer_course_box {
    display:block;
}


.carou_dots {
    display: none !important;
}


/* linkVo  */

.linko_section {
    text-align: center;
    padding: 1rem;
}

.booked_gigs {
    display: flex;
    justify-content: center;
    
   
}

.booked_gigs a {
  margin: 0.3rem;
  font-size: 2rem !important;
}

.linkvo_box {
background-color: white;
box-shadow: 0 0 1em rgba(0,0,0,0.2);
}


.linkvo_suggestion_img_nd_name {
    display:flex;
    align-items: flex-start;
}

.linkvo_img {
    width: 15%;
    border-radius: 50px;
}

.linkvo_name_nd_descrip {
    color:black;

}

.linkvo_name_nd_descrip:hover {
    color:black;
    text-decoration: none;
    
}

.linkVo_name {
    font-weight: bold;
    font-size: 2rem;
}

.linkVo_descrp {
    color: #777777;
}

.linkVoImages > img {
    width:10%;
    border-radius: 50px;
    
}



/* LinkVo Booked  */
/* LinkVo Booked  */
/* LinkVo Booked  */
/* LinkVo Booked  */
/* LinkVo Booked  */

.booked_heading {
    background-color:white;
    padding:3rem;
    text-align: center;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
}

.booked_heading > h1 {
    color:#0066C2;
}


.linkVo_Booked_imgs {
    width:20%;
    border-radius: 50px;

}


.details_nd_chnge_btns {
    display:flex;
    justify-content: center;
}

.linkVo_booked_details {
    font-size: 2rem;
}


.img_nd_booked {
    display:flex;
    align-items: center;
}

li {

    list-style: none;
}

.dropdown-menu {
    padding:0.5rem !important;
}


.modal_bodie > p{
    font-weight: bold !important;
}

.booked_box {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    border-radius: 10px;
}



.booked_title {
    display: flex;
} 

.linkVo_Booked_imgs2  {
   
    height:100px !important;
    width: 100px !important;
    border-radius: 50%;
}




/* linkvo suggestions */

.linko_suggestions_mob {
    margin-top: 1rem;
    display:block;
    background-color: white;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    padding:1rem;
}





.linko_suggestions_desktop{
    display:none;
}

.linkVo_sugges_alpha {
    display:flex;
    flex-direction: column;
    
}





@media screen and (min-width:768px){

    body {
        background-color: #EBECF0 !important;
        font-family: 'Arimo', sans-serif;
    }

  


    .cover_nd_propic {
        margin-bottom: 4.2rem;
       
    }

  

    input {
        padding:2rem !important;
        font-size: 3rem !important;
    }
    
    label {
        font-size: 3rem !important;
    }
    
    .checkbox {
        margin-top: 10px !important;
    }
    
    .btn-default {
        background-color: #0E76A8 !important;
        color:white !important;
        margin-top: 1rem;
        font-size: 2rem !important;
    }

    .main_section {
        background-color: white;
        padding:1rem !important; 
        box-shadow: 0 0 1em rgba(0,0,0,0.2);

   
    }

    .container {
        padding:20px !important; 
    }

    .submitted_container {
        padding:1rem;
        margin: 0 auto;
        max-width: 50%;
    
    }

    .tech_logo {
        max-width:20%;
    }

    .descrip_project_br {
        display:none;
    }


    .projects_title {
        font-size: 2rem !important;
    }
    

    /* right_section */

    .right_section {
        display:block;
        background-color: white;
        box-shadow: 0 0 1em rgba(0,0,0,0.2);
       
    }

    .linko_suggestions_desktop{
        display:block;
    }

    .linko_suggestions_mob{
        display:none !important;
    }

    .linkVo_sugges_alpha {
        display:block;
        
    }

    .developer_course_box {
        display:block;
    }

    .carou_dots {
        display: none !important;
    }

    .linkvo_suggestion_img_nd_name {
        display:flex;
        align-items: flex-start;
    }

    .linkvo_img {
        width: 15%;
        border-radius: 50px;
    }

    .linkvo_name_nd_descrip {
        color:black;

    }

    .linkvo_name_nd_descrip:hover {
        color:black;
        text-decoration: none;
        
    }

    .linkVo_name {
        font-weight: bold;
        font-size: 2rem;
    }

    .linkVo_descrp {
        color: #777777;
    }


    .linko_suggestions_mob {
        display:block;
    }
    


    /* LinkVo Booked*/

    .booked_box {
        background-color: white;
        padding: 1rem;
        box-shadow: 0 0 1em rgba(0,0,0,0.2);
        border-radius: 10px;
        
    }

    .linkVo_Booked_imgs {
        width:5%;
        border-radius: 50px;
    
    }

    
    .img_nd_booked {
    display:inline;
    width: 70%;
   
   } 

    .img_descrip_btns {
        display:flex;
    }

    .details_btn{
        margin-top: 0px;
        font-size: 1.5rem !important;
    }

    .change_btn {
        margin-top: 0px;
        font-size: 1.5rem !important;
    }

    .reschedule_btn {
        font-size: 1.5rem !important;
    }

   .cancel_aptment_btn {
    font-size: 1.5rem !important;
   }

   .modal-title {
    font-size: 2.5rem !important;
   }

   .control-label {
    font-size: 1.5rem !important;
   }

   .linkVo_Booked_imgs2  {
    width: 20%;
    border-radius: 50%;
  }


  .booked_gigs {
      display: flex;
      flex-direction: column;
  }

    

   

    
}







  




